div{
	border: 1px solid black;
	
}
#segunda{
	border-color: red;
}
#tercero{
	border-color: blue;
}
.tamanio{
	height: 200px;
}
/*
img{
	width: 100%;

}
@media only screen and (min-width: 500px;){
	img{
		width: 30%;
	}
}*/